@charset "utf-8";
@import url("font.css");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Pretendard-Regular";
  height: 2000px;
}
a {
  text-decoration: none;
}
img {
  vertical-align: top;
}
.wrap {
  width: 100%;
  /* background-color: antiquewhite; */
}
/* 공통 클래스 */
.inner {
  max-width: 1530px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}
/* ssum area */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 9999;
}
.header::after {
  content: ""; /* 가상 요소에 내용을 추가 */
  position: absolute; /* 가상 요소를 부모 요소에 대해 절대 위치로 설정 */
  top: 80px; /* 선의 세로 위치를 조절 */
  left: 0; /* 선의 가로 위치를 조절 */
  width: 100%; /* 가로선이 헤더의 전체 너비를 가지도록 설정 */
  height: 1px; /* 선의 높이(두께)를 조절 */
  background-color: #456dae; /* 선의 색상을 지정 */
  opacity: 0;
}
/* header hover */
.header:hover {
  width: 100%;
  height: 65vh;
  min-height: 640px;
  max-height: 650px;
  background-color: #fff;
}
.header:hover a {
  color: #222;
}
.header:hover .left-depth1 {
  gap: 4.8rem;
}
.header:hover .left-depth1 li {
  width: 150px;
}
.header:hover .left-depth2 {
  display: block;
}
.header:hover .right-depth1 img {
  filter: brightness(0.1);
  z-index: -1;
}

.header:hover .right-depth1 .cart {
  z-index: 2;
}

.header:hover::after {
  opacity: 0.3;
}
/* header active */
.header.active {
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(223, 223, 223, 0.3);
  transition: all 0.3s;
}
.header.active .top-nav-left a {
  color: #222;
}
/* top menu */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}
/* top menu left */
.top-nav-left {
  display: flex;
  gap: 4rem;
  width: 100%;
}
.logo {
  width: 100px;
  height: 80px;
}
.left-depth1 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: 1.8rem;

  transition: all 0.6s ease-out;
}
.left-depth1 li a {
  color: #fff;
}
.left-depth2 {
  position: relative;
  width: 200px;
  /* height: 100%; */
  padding: 5rem 0 2rem;
  font-size: 1.6rem;
  position: absolute;
  display: none;
}
.left-depth2::after {
  content: ""; /* 가상 요소에 내용을 추가 */
  position: absolute; /* 가상 요소를 부모 요소에 대해 절대 위치로 설정 */
  top: 3.1rem; /* 선의 세로 위치를 조절 */
  left: -1rem; /* 선의 가로 위치를 조절 */
  height: calc(65vh - 80px); /* 가로선이 헤더의 전체 너비를 가지도록 설정 */
  min-height: calc(640px - 80px);
  max-height: calc(650px - 80px);
  width: 1px; /* 선의 높이(두께)를 조절 */
  background-color: #456dae; /* 선의 색상을 지정 */
  opacity: 0.3;
}
.left-depth2.depth2-1::after {
  content: none;
}
.left-depth2 > li {
  /* padding-bottom: 2rem; */
  line-height: 3.2rem;
}
.left-depth2 .depth2-bt a {
  font-size: 1.4rem;
  line-height: 0.3rem;
  opacity: 0.7;
}
/* top menu right */
.right-depth1 {
  display: flex;
  gap: 1rem;
}
.right-depth1 li:first-of-type {
  position: relative;
}
.cart {
  display: block;
  position: absolute;
  top: 8px;
  right: 0;
  width: 14px;
  height: 14px;
  background-color: #456dae;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 14px;
}
.right-depth1-img.active,
.right-depth2-img.active,
.right-depth3-img.active {
  filter: brightness(0.1);
}
/* visual */
.visual {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  min-height: 920px;
}
.swiper {
  width: 100%;
  height: 100%;
}
.mainVisual {
  position: relative;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  gap: 0;
}
.swiper-slide {
  width: 100%;
  height: 100%;
}
.visual-box {
  width: 100%;
  height: 100%;
}
.vs-bg1 {
  width: 100%;
  background: url("../images/main_visual-01.png") no-repeat center / cover;
}
.vs-bg2 {
  width: 100%;
  background: url("../images/bespoke_event-01.png") no-repeat center / cover;
}
.vs-bg2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* 배경 이미지에만 filter 적용 */
  background-color: rgba(145, 145, 145, 0.2);
  /* z-index: -1; */
}
.visual-box-text {
  position: absolute;
  top: 33%;
  left: 13%;
}
.visual-box .sub,
.visual-box p,
.visual-box .sub-bt {
  /* 필터가 적용되지 않도록 함 */
  color: white; /* 글자색을 설정 */
  z-index: 2;
}
.visual-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.visual-box .sub {
  font-size: 2rem;
  font-weight: 300;
  line-height: 4;
  text-shadow: none;
}
.visual-box p {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.visual-box .sub-bt {
  font-size: 3.6rem;
  font-weight: 500;
}
/* pagination */
.mainScrollBar
  .mainScrollBar.swiper-horizontal
  > .mainScrollBar.swiper-scrollbar,
.mainScrollBar.swiper-scrollbar.swiper-scrollbar-horizontal {
  width: 450px;
  height: 2px;
  position: absolute;
  /* 영역 값 수정 */
  top: 64%;
  left: 13%;
  margin: 0 auto;
}
.mainScrollBar .swiper-scrollbar-drag {
  background-color: #fff;
  opacity: 0.8;
}

.mainPaginationNum .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 300;
  top: 50%;
  left: 4.3%;
  transform: translateY(-50%);
  width: 8rem;
  height: 1.4rem;
  padding: 0 20px;
}
.mpn-box {
  position: absolute;
  top: 65%;
  left: 13%;
  display: flex;
  align-items: center;
  width: 200px;
  height: 100px;
  /* background-color: #e93737; */
  z-index: 99999;
}
/* next, prev btn */
.mainPbtn.mpn-prev {
  margin-left: 0;
}
.mainNbtn.mpn-next {
  margin: 0;
}
.mpn-next {
  color: #fff;
  font-size: 1.2rem;
  z-index: 9;
  opacity: 0.5;
}
.mpn-prev {
  color: #fff;
  line-height: 1;
  font-size: 1.2rem;
  z-index: 9;
  opacity: 0.5;
  position: absolute;
  right: 50%;
  transform: translateX(-50%);
}
.mainPbtn {
  margin-left: 7%;
}
.mainNbtn {
  margin-right: 7%;
}
.swiper-button-next.mainNbtn::after,
.swiper-button-prev.mainPbtn::after {
  color: #fff;
  opacity: 0.7;
  font-size: 4.8rem;
}
/* quick menu */
.quick-menu .inner{
  max-width: 1280px;
}
.quick-img {
  padding: 60px 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quick-img li {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.quick-img li a img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.4s;
}
/* animation effect */
.hover{
  position: absolute;
  top: -21px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.hover:hover{
  stroke-dashoffset: -500px;
  animation: progress 2s ease-in;
}
.svg{
  width: 100%;
  height: 100%;
}
.progress {
  fill: none;
  stroke: rgb(167, 25, 25);
  stroke-width: 8;
  stroke-dasharray: 500;
  
  transform-origin: center;
  transform: rotate(-90deg);
}
@keyframes progress {
  100%
  {
    stroke-dashoffset: 0;
  }
}

.quick-img li:hover img {
  filter: brightness(0.3);
}
.quick-img li:hover span {
  color: #456dae;
}

.quick-img .border {
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 2.2rem;
  color: #fff;
  font-family: "timesroman";
  opacity: 0;
  transition: all 0.4s;
}
.quick-img li span {
  font-size: 1.6rem;
  text-align: center;
}
/* about repose */
.about-repose {
  position: relative;
  width: 100%;
  min-width: 1340px;
  height: 100vh;
  background-color: #7aadd31a;
}
.about-repose .inner{
  padding: 10px;
}
.about-repose .number-bar {
  margin-top: 5rem;
}
.about_slider {
  width: 100%;
  height: 100%;
  padding: 60px 0;
}
.about_slider .swiper-slide {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  transition: all 0.5s;
  opacity: 0 !important;
}
.about-repose .about_slider .swiper-slide-active {
  opacity: 1 !important;
}
.about_slider .swiper-wrapper {
  width: 100%;
  height: 100%;
}
/* info left */
.info-left {
  width: 30%;
}
.sec-title {
  font-size: 85px;
  font-weight: 300;
  text-transform: capitalize;
  word-break: keep-all;
  line-height: 1.23;
  margin-top: 40px;
}
.f-times {
  font-family: "timesroman-italic";
  font-weight: 300;
  font-style: italic;
}
.sub-txt {
  padding: 40px 0;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.56;
  white-space: nowrap;
}
.about-list {
  width: 30%;
  font-size: 1.8rem;
  position: absolute;
  bottom: 16%;
  left: 0;
  z-index: 9;
}
.about-list-cont {
  padding: 15px 0;
  border-bottom: 1px solid rgba(69, 109, 174, 0.4);
  position: relative;
}
.about-list-cont a {
  color: #456dae;
}
.about-list-cont.act a {
  color: #222;
}
.about-list-cont::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  width: 16px;
  height: 10px;
  background: url("../images/Asset1.png") no-repeat center / cover;
  filter: brightness(0.7);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.about-list-cont.act::after {
  opacity: 1;
}
/* info right */
.info-right {
  width: 55%;
}
.img-box {
  width: 100%;
  height: 100%;
}
.about_slider .img-box img {
  width: 100%;
  height: 32vw;
  margin: 0;
  object-fit: cover;
}
/* collection */
.collection{
  position: relative;
  width: 100%;
  height: 100vh;
}
.collection .inner{
  margin-top: 190px;
}
.collec-bg{
  position: absolute;
  top: -7%;
  right: 4%;
  width: 450px;
  height: 202px;
  background: url("../images/collect_bg.png") no-repeat center / contain;
  opacity: .1;
}
.collection-list{
  position: relative;
  width: 100%;
  height: 60vh;
  margin-top: 40px;
  display: flex;
  gap: 20px;
  overflow: hidden;
}
.collection-list-cont{
  position: relative;
  width: calc(100% / 5);
  height: 100%;
  transition: all .8s;
}
.collection-list-cont:hover{
  width: 85%;
}
.collection-list-cont:hover .no-hover{
  display: none;
}
.collection-list-cont:hover .collec-popup{
  opacity: 1;
}
.collection-list-cont > p{
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 1.9rem;
  color: #fff;
}
.collection-list-cont .img-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* view more */
.collec-popup{
  position: absolute;
  bottom: -44%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 75%;
  height: 75%;
  padding: 20px;
  text-align: center;
  opacity: 0;
  transition: all .8s;
}
.collec-popup::after{
  content: "";
  display: block;
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .8;
  z-index: -1;
}
.more-title{
  font-size: 4rem;
  font-weight: 600;
  line-height: 2;
  text-transform: uppercase;
}
.more-logo{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
}
.collec-viewmore{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  border: 1px solid #b8b8b8;
  text-align: left;
  cursor: pointer;
  transition: all .8s;
}
.collec-viewmore a{
  font-size: 1.8rem;
  line-height: 5rem;
  padding-left: 20px;
  color: #777777;
  text-transform: capitalize;
}
.collec-viewmore:hover{
  background-color: #456dae;
  border: 1px solid #456dae;
}
.collec-viewmore:hover a{
  color: #fff;
}
.collec-viewmore:hover a::after{
  filter: contrast(1) invert(1);
}
.collec-viewmore a::after{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 22px;
  width: 15px;
  height: 15px;
  background: url("../images/Asset1.png") no-repeat center /cover;
  /* filter: brightness(.8); */
}
.more-img{
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 50%;
}
.n5 .more-img{
  top: -20%;
  width: 60%;
}
/* 채은 영역 */
/* 신규가입혜택, 리뷰이벤트 영역 */

.sign-up {
  display: flex;
  /* margin: 0 auto;
  padding-left: 15%;
  padding-top: 50px; */
}
.review {
  display: flex;
}
.sign-up ul {
  list-style: none;
}

.sign-up a {
  color: black;
  text-decoration: none;
}
.bt1 {
  margin-left: 50px;
  margin-top: 30px;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  position: relative;
  width: 250px;
  height: 50px;
  padding: 0 10px;
  color: rgb(0, 0, 0, 0.7);
  background-color: transparent;
  left: 0;
  border: 0;
  border: 1.5px solid rgba(0, 0, 0, 0.4);
}
.sign-up-p {
  font-size: 17px;
  color: rgb(0, 0, 0, 0.4);
  font-weight: 100px;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.sign-up-h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 50px;
}
.sign-up-p2 {
  font-size: 17px;
  margin-left: 50px;
}

.sign-up > li {
  position: relative;
}
.sigup-up-bg {
  background: url("../images/collection.jpg") no-repeat;
  background-size: cover;
  width: 710px;
  height: 266.25px;
}
.sign-up > li > a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.review {
  margin: 0 auto;
  padding-left: 15%;
  padding-top: 50px;
}
.review-p {
  font-size: 17px;

  color: rgb(0, 0, 0, 0.4);
  font-weight: 100px;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.review ul {
  list-style: none;
}

.review a {
  color: black;
  text-decoration: none;
}
.bt2 {
  margin-left: 50px;
  margin-top: 30px;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  position: relative;
  width: 250px;
  height: 50px;
  padding: 0 10px;
  color: rgb(0, 0, 0, 0.7);
  background-color: transparent;
  left: 0;
  border: 0;
  border: 1.5px solid rgba(0, 0, 0, 0.4);
}

.review ul li a h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 20px;
}
.review-p2 {
  font-size: 17px;
  margin-left: 50px;
}
.review-h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 50px;
}
.bt2 img {
  width: 20px;
  height: 20px;
}

.review button {
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  position: relative;
  width: 220px;
  height: 40px;
  padding: 0 10px;
  color: rgb(0, 0, 0, 0.7);
  background-color: transparent;
  left: 0;
  border: 0;
  border: 1.5px solid rgba(0, 0, 0, 0.4);
}

.review button img {
  width: 18px;
  height: 18px;
}

.review img {
  width: 18px;
  height: 18px;
}

.review ul li {
  position: relative;
}
.review-bg {
  background: url("../images/event.jpg") no-repeat;
  background-size: cover;
  width: 710px;
  height: 266.25px;
}
/* reposproduct*/
.product {
  position: relative;
}
/* 공통으로쓰는거 */
.shop {
  font-size: 20px;
  font-family: "timesroman";
  font-style: italic;
}
.sp-2 {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-size: 20px;
}
.bar {
  width: 7rem;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  text-align: center;
  align-items: center;
  margin-bottom: 6px;
  margin-left: 4px;
}

.repos-h1 {
  font-size: 90px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.repos-h1 span {
  font-family: "timesroman";
  font-style: italic;
}

.swiper-wrapper img {
  width: 320px;
  height: 380px;
  margin-bottom: 10px;
  display: block;
}
.swiper-wrapper {
  font-size: 15px;
  font-weight: bold;
  line-height: 22px;
  display: flex;
  margin-bottom: 30px;
}

.pp2 {
  color: rgba(0, 0, 0, 0.4);
}

.pp3 > span {
  color: #456dae;
}
.s1 {
  color: rgba(0, 0, 0, 0.4);
}
.repos-li2 span {
  color: #456dae;
}

.f1 {
  color: rgba(0, 0, 0, 0.4);
}
.repos-li3 span {
  color: #456dae;
}
.f2 {
  color: rgba(0, 0, 0, 0.4);
}
.repos-li4 span {
  color: #456dae;
}
.f3 {
  color: rgba(0, 0, 0, 0.4);
}
.repos-li5 span {
  color: #456dae;
}
.next-btn {
  color: rgba(255, 255, 255, 06);
  width: 50px;
  height: 50px;
  top: 48%;
}
.prev-btn {
  color: rgba(255, 255, 255, 0.6);
  width: 50px;
  height: 50px;
  top: 48%;
}
.s-scroll {
  background-color: #456dae;
  opacity: 0.3;
}
/* insta영역 */
.instagram-wrap {
  padding: 50 0px;
  line-height: 40px;
}
.insta-top {
  margin: 0 auto;
  text-align: center;
}
.insta-top p {
  font-size: 25px;
  font-weight: bold;
}
.insta-top span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}
.insta-top {
  margin-bottom: 50px;
}
.insta-img .swiper-slide {
  width: 100px;
  height: 200px;
  border-radius: 20%;
  overflow: hidden;
  position: relative;
}
.insta-img .swiper-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
}
/*QNA영역 */
.qna-wrap {
  text-align: center;
  margin: 50px;
}
.qna-top {
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: bold;
}
.qna-bt {
  font-size: 18px;
}
.qna-bt a {
  color: #456dae;
}
.qna-bt ul {
  width: 70%;
  margin: 0 auto;
}
.qna-bt ul li a {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 20px 0;
}
.qna-bt p {
  display: inline-block;
}
.qna-bt img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  /* margin-bottom: 50px; */
  top: 0;
  left: 0;
}
