@charset "utf-8";
/* 수민영역 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Pretendard-Regular";
}
.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.header:hover::after {
  opacity: 0;
}
.header::before {
  content: ""; /* 가상 요소에 내용을 추가 */
  position: absolute; /* 가상 요소를 부모 요소에 대해 절대 위치로 설정 */
  top: 80px; /* 선의 세로 위치를 조절 */
  left: 0; /* 선의 가로 위치를 조절 */
  width: 100%; /* 가로선이 헤더의 전체 너비를 가지도록 설정 */
  height: 1px; /* 선의 높이(두께)를 조절 */
  background-color: #456dae; /* 선의 색상을 지정 */
  opacity: 0.3;
}
/* 메뉴 네비게이션 */
.top-popup {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  /* opacity: 0;
  visibility: hidden; */
}
.top-popup.active {
  bottom: 20px;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}
.top-popup.active-footer {
  bottom: 320px;
}
.top-popup .inner {
  padding: 0 0 10px 0;
}
.popup_nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 45px;
}
.popup_nav li {
  height: 100%;
  font-size: 1.5rem;
  line-height: 45px;
  margin-right: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.popup_nav li a {
  color: #333;
}
.popup_nav li:nth-of-type(4) {
  width: 115px;
  text-align: center;
  background-color: #fff;
}
.popup_nav li:nth-of-type(5) {
  width: 115px;
  background-color: #456dae;
  text-align: center;
}
.popup_nav li:nth-of-type(5) a {
  color: #fff;
}
.top {
  width: 45px;
  height: 100%;
  background-color: #456dae;
  color: #fff;
  text-align: center;
}
.top-btn {
  width: 20px;
  height: 20px;
  object-fit: cover;
  vertical-align: middle;
  transform: rotate(180deg);
  filter: invert(100%) grayscale(100%);
}
.product_parent {
  position: relative;
  width: 550px;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.product_parent span {
  font-size: 1.3rem;
  padding-left: 10px;
}
.product_img {
  width: 45px;
  height: 40px;
  object-fit: cover;
  vertical-align: middle;
}
.bold {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  font-weight: 600;
}
.popup_nav .picker-li {
  width: 45px;
  height: 45px;
  text-align: center;
  border: 1px solid #456dae;
  background-color: #fff;
}
.picker {
  object-fit: cover;
  vertical-align: middle;
}
.header:hover .wrap {
  background-color: rgba(0, 0, 0, 0.1); /* 호버 시 어두운 배경색으로 변경 */
}
.left-depth1 li a {
  color: #000;
}
.right-depth1 img {
  filter: brightness(0.1);
  z-index: -1;
}
/* 채은영역 */
.shopping .inner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
}
.sp-swiper-control {
  width: 52%;
  height: 83vh;
}
.sw-shopping {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  width: 100%;
  height: 100%;
}
.sw-shopping .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sp-right {
  width: 48%;
  height: 100%;
}
.sp-right h1 {
  padding-top: 10px;
  font-size: 3.2rem;
  font-weight: 600;
}
.sp-detail {
  padding-top: 30px;
  font-size: 1.3rem;
  color: #00000080;
}
.sp-detail li {
  position: relative;
  padding: 10px 0;
}
.sp-detail li .space {
  padding-left: 30px;
  font-size: 1.4rem;
  color: #000;
}
.price {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}
.dc {
  padding-left: 10px;
  font-size: 2rem;
  font-weight: 600;
  color: #456dae;
}
.sp-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}
.point {
  font-size: 1.4rem;
  font-weight: 600;
  color: #000;
}
.gray {
  font-size: 1.4rem;
  padding-left: 5px;
}
.space b {
  font-size: 1.4rem;
  font-weight: 600;
  color: #000;
}
.info-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 5px;
  line-height: 14px;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  font-style: italic;
  background-color: #456dae;
  border-radius: 50%;
}
.sp-detail li img{
  width: 36px;
  height: 28px;
  vertical-align: middle;
  margin: 0 10px;
}
.coupon{
  display: inline-block;
  width: 202px;
  background-color: #e6e6e680;
  margin: 10px;
  cursor: pointer;
}
.sp-detail li .chevron_down{
  width: 8px;
  height: 8px;
  margin: 0 10px;
  object-fit: cover;
  transform: rotate(270deg);
}
.sp-detail li .coupon a span{
  color: #00000080;
}
.shopping-info .inner{
  display: flex;
  align-items: center;
  justify-content: center;
}