@charset "utf-8";
/* 수민영역 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Pretendard-Regular";
  height: 2000px;
}
.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
/* 메뉴 네비게이션 */
.top-popup {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}
.top-popup.active {
  bottom: 20px;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}
.top-popup.active-footer {
  bottom: 320px;
}
.top-popup .inner {
  padding: 0 0 10px 0;
}
.popup_nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 45px;
}
.popup_nav li {
  height: 100%;
  font-size: 1.5rem;
  line-height: 45px;
  margin-right: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.popup_nav li a {
  color: #333;
}
.popup_nav li:nth-of-type(4) {
  width: 115px;
  text-align: center;
}
.popup_nav li:nth-of-type(5) {
  width: 115px;
  background-color: #456dae;
  text-align: center;
}
.popup_nav li:nth-of-type(5) a {
  color: #fff;
}
.top {
  width: 45px;
  height: 100%;
  background-color: #456dae;
  color: #fff;
  text-align: center;
}
.top-btn {
  width: 20px;
  height: 20px;
  object-fit: cover;
  vertical-align: middle;
  transform: rotate(180deg);
  filter: invert(100%) grayscale(100%);
}
.product_parent {
  position: relative;
  width: 550px;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.product_parent span {
  font-size: 1.3rem;
  padding-left: 10px;
}
.product_img {
  width: 45px;
  height: 40px;
  object-fit: cover;
  vertical-align: middle;
}
.bold {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  font-weight: 600;
}
.popup_nav .picker-li {
  border: 1px solid #456dae;
}
.picker {
  width: 45px;
  height: 45px;
  object-fit: cover;
  vertical-align: middle;
  opacity: 0.4;
}
.header:hover .wrap {
  background-color: rgba(0, 0, 0, 0.1); /* 호버 시 어두운 배경색으로 변경 */
}
.left-depth1 li a {
  color: #000;
}
.right-depth1 img {
  filter: brightness(0.1);
  z-index: -1;
}
/* 채은영역 */
.edgar-flush-wrap{}
.edgar-flush-img{}
.edgar-flush-right{
    width: 609px;
    height: 1250.58px;
}
.edgar-flush-right > p{
    font-size: 36px;
    font-weight: bold;
}
.edgar-right{

}
.edgar-right li{
    font-size: 14px;
    position: relative;
    list-style: none;
    color: rgba(0, 0, 0, 0.8);
    line-height: 2;
    
}
.money{
    color: rgba(0, 0, 0, 0.4);
    text-decoration: line-through ;
    font-size: 16px;
    padding-left: 30px;
}
.money2{
    font-size: 22px;
    padding-left: 30px;

}
.num{
    color: #465dae;
    padding-left: 10px;

}
.coin3{
    font-size: 16px;
    font-weight: 600;
    padding-left: 30px;

}
.span46000{
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    padding-left: 10px;

}
.POOOOGHY{
    font-size: 16px;
    font-weight: 600;
    padding-left: 30px;

}
.moo{
    font-size: 16px;
    padding-left: 30px;

}
.service2{
    font-size: 16px;
    padding-left: 30px;


}
.ds{
    color: black;
    padding-left: 30px;

}
.asas{
    position: absolute;
    width: 40px;
    height: 22px;
    margin-top: 3px;
    left: 0;
}
.as{
    position: absolute;
    width: 10px;
    height: 20px;
    transform: rotate(270deg);
    margin-top: 6px;
    margin-left: 60px;
}
.cpon{
    position: absolute;
display: flex;
    background-color:rgba(3, 46, 138, 0.1);
    width: 38%;
   right: 0;
}
.cpon a span{
margin-left: 50px;
}
.f{
    display: flex;
}
